*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    min-width: 100%;
    min-height: 100%;
}
.box{
    border: 10px solid white;
    
    padding: 20px;
    outline: 5px dashed red;
    background-color: orange;
    width: 40%;
    /* height: 200px; */
}

.box2{
    background-color: yellow;
    padding: 20px;
}
.box3{
    background-color: aqua;
    height: 200px;
    width: 605px;
    /* position: absolute; */
    padding: 10px;
}